@page "/"
@rendermode InteractiveServer 

@inject NavigationManager Navegador;
@inject CasoDeUsoLogIn CasoLog
@inject LoggedUser _LoggedUser

@if(visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>Ingrese sus Datos</h3>
            <input placeholder="Correo" @bind="correo" class="form-control"><br>
            <input placeholder="Contraseña" @bind="contra" class="form-control"><br> 
            <button class="btn btn-primary" @onclick="Cerrar"> Ingresar </button>
            <button class="btn btn-primary" @onclick="crearUser">Registrarse</button>
            <VentanaError @ref=dialogo />
        </div>
    </div>
}

@code
{
    public bool visible=true;
    public string? correo;
    public string? contra;
    VentanaError dialogo = null!;
    public void Cerrar()
    {

        if(contra!=null && correo!=null)
        {
            try
            {
                _LoggedUser.loggear(CasoLog.Ejecutar(correo,contra));
                if(_LoggedUser.user != null)
                {
                    Navegador.NavigateTo("inicio");
                }
                else
                {
                    dialogo.Mensaje="La contraseña es incorrecta";
                    this.Error();
                } 
            }
            catch
            {
                dialogo.Mensaje="El correo no existe";
                this.Error();
            }
            
        }
    }
    public void crearUser()
    {
        Navegador.NavigateTo("singin");
    }
    
    private void Error()
    {
        dialogo.Mostrar();
    }
}