@page "/listadousuarios/{Id:int}"
@using System.Text

@rendermode InteractiveServer

@inject NavigationManager Navegador;

@inject CasoDeUsoUsuarioModificacion CasoUsoMod
@inject CasoDeUsoUsuarioModificacionAdmin CasoModAdmin
@inject CasoDeUsoUsuarioConsultaId CasoUsoBusquedaId
@inject LoggedUser _LoggedUser


<h3>Ingrese sus Datos</h3>
<input placeholder="Nombre" @bind="user.Nombre" class="form-control"><br>
<input placeholder="Apellido" @bind="user.Apellido" class="form-control"><br>
<input placeholder="Correo" @bind="user.Correo" class="form-control"><br>
<h6>La contrase単a debe contener al menos un numero y una mayuscula</h6>
<input placeholder="Contrase単a" @bind="contra" class="form-control"><br> 
<button class="btn btn-primary" @onclick="Cerrar">Aceptar</button> 
<button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>



<VentanaError @ref=dialogo/>

@code
{
    public string? contra="";
    [Parameter]
    public int Id{get;set;}
    public Usuario user;
    protected override void OnParametersSet()
    {
        user=CasoUsoBusquedaId.Ejecutar(Id);
    }
    VentanaError dialogo = null!;
    public void Cerrar()
    {
        if(user.Nombre !=null && user.Apellido !=null && user.Correo!=null && contra!=null)
        {
            user.Contrase単a=Encoding.UTF8.GetBytes(contra);
            try
            {
                if(_LoggedUser.user.Id==1) CasoModAdmin.Ejecutar(_LoggedUser.user,user,contra);
                else
                {
                    if(_LoggedUser.user.Id==user.Id) CasoUsoMod.Ejecutar(user,contra);
                    else 
                    {
                        dialogo.Mensaje="Solo puedes modificar tus propios Datos";
                        this.Error();
                    }
                }
                Navegador.NavigateTo("listadousuarios");
            } 
            catch(AdminException)
            {
                dialogo.Mensaje="Usted debe ser admin para modificar a otros usuarios";
                this.Error();
            }
            catch(ValidacionException)
            {
                dialogo.Mensaje="La contrase単a no cumple con los requisitos necesarios";
                this.Error();
            }
        }else{
            dialogo.Mensaje="Faltan completar datos";
            this.Error(); 
        } 
    }
    public void Error()
    {
        dialogo.Mostrar();
    }
    public void Cancelar()
    {
        Navegador.NavigateTo("listadousuarios");
    }
}
