@page "/listadotramites/{Id:int}"
@rendermode InteractiveServer 
@inject CasoDeUsoTramiteModificacion tramMod
@inject LoggedUser _LoggedUser
@inject CasoDeUsoTramiteConsultaPorID busquedaId
@inject NavigationManager Navegador; 


    <div class="dialogo-conten">
        <div class="dialogo-contenid">
            <h3>Ingrese los datos</h3>
            <input placeholder="Contenido" @bind="_tramite.Contenido" class="form-control"><br>

           <h3>Etiqueta de tramite actual @_tramite.Etiqueta</h3>
            @if (_tramite.Etiqueta != EtiquetaTramite.EscritoPresentado)
            {
                <button class="btn btn-primary" @onclick="()=>SetEtiqueta(EtiquetaTramite.EscritoPresentado)"> Escrito Presentado </button>  
            }
            @if (_tramite.Etiqueta != EtiquetaTramite.PaseAEstudio)
            {
                <button class="btn btn-primary" @onclick="()=>SetEtiqueta(EtiquetaTramite.PaseAEstudio)"> Pase a Estudio </button>  
            }
            @if (_tramite.Etiqueta != EtiquetaTramite.Despacho)
            {
                <button class="btn btn-primary" @onclick="()=>SetEtiqueta(EtiquetaTramite.Despacho)"> Despacho </button>  
            }
             @if (_tramite.Etiqueta != EtiquetaTramite.Resolucion)
            {
                <button class="btn btn-primary" @onclick="()=>SetEtiqueta(EtiquetaTramite.Resolucion)"> Resolucion </button>  
            }
             @if (_tramite.Etiqueta != EtiquetaTramite.Notificacion)
            {
                <button class="btn btn-primary" @onclick="()=>SetEtiqueta(EtiquetaTramite.Notificacion)"> Notificacion </button>  
            }
             @if (_tramite.Etiqueta != EtiquetaTramite.PaseAlArchivo)
            {
                <button class="btn btn-primary" @onclick="()=>SetEtiqueta(EtiquetaTramite.PaseAlArchivo)"> Pase al Archivo </button>  
            }
           <br> <button class="btn btn-primary" @onclick="Cerrar"> Aceptar </button> 
            <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
            <VentanaError @ref="dialogo" />
        </div>
    </div>

@code{

[Parameter] 
public int Id {get;set;}
//public string? _Contenido ;

VentanaError dialogo= null!;

    public Tramite _tramite;
    protected override void OnParametersSet(){
            _tramite = busquedaId.Ejecutar(Id) ;  

    }

    public void Cerrar(){
        if ((_tramite.Contenido != null) & (_tramite.Contenido != "") ){
            _tramite.FechaActualizacion = DateTime.Now ;

            try {
             tramMod.Ejecutar(_tramite,_LoggedUser.user);
             Navegador.NavigateTo($"listadotramites");
            }
            catch (AutorizacionException)
            {
                this.Error () ;
                Navegador.NavigateTo($"listadotramites/{Id}");
            }
        }
        else
        {
            this.Error1 () ;
             Navegador.NavigateTo($"listadotramites/{Id}");
        }

    }
    private void Error () 
    {
            dialogo.Mensaje = "No cuenta con el permiso de modificar tramites" ;
            dialogo.Mostrar() ;
    }
    private void Error1 () 
    {
            dialogo.Mensaje = "Ingrese contenido por favor" ;
            dialogo.Mostrar() ;
    }

    public void Cancelar(){
        Navegador.NavigateTo("listadotramites");
    }
    public void SetEtiqueta (EtiquetaTramite et)
{
    _tramite.Etiqueta = et ;
}
}




