@page "/singin"
@rendermode InteractiveServer 
@inject NavigationManager Navegador;
@inject CasoDeUsoUsuarioAlta CasoAlta

@if(visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>Ingrese sus Datos</h3>
            <input placeholder="Nombre" @bind="nombre" class="form-control"><br>
            <input placeholder="Apellido" @bind="apellido" class="form-control"><br>
            <input placeholder="Correo" @bind="correo" class="form-control"><br>
            <h6>La contraseña debe contener al menos un numero y una mayuscula</h6>
            <input placeholder="Contraseña" @bind="contra" class="form-control"><br> 
            <button class="btn btn-primary" @onclick="Cerrar"> Aceptar </button> 
            <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
            <VentanaError @ref=dialogo />
        </div>
    </div>
}

@code
{
    public Usuario? user;
    public bool visible=true;
    public string? nombre;
    public string? apellido;
    public string? correo;
    public string? contra;
    VentanaError dialogo = null!;
    public void Cerrar()
    {
        if(nombre!=null && apellido!=null && correo!=null && contra!=null)
        {
            user=new Usuario(contra);
            user.Correo=correo;
            user.Nombre=nombre;
            user.Apellido=apellido;
            try
            {
                CasoAlta.Ejecutar(user,contra);
                visible=false;
                Navegador.NavigateTo("");
            }
            catch(MailException)
            {
                dialogo.Mensaje="El correo ya esta en uso";
                dialogo.Mostrar();
            }
            catch (ValidacionException)
            {
                dialogo.Mensaje="La contraseña no cumple con los requisitos(un numero y una mayuscula)";
                dialogo.Mostrar();
            }
        }
        else
        {
            dialogo.Mensaje="Faltan completar datos";
            dialogo.Mostrar();
        }
    }
    public void Cancelar()
    {
        Navegador.NavigateTo("");
    }
}
