@rendermode InteractiveServer
@if(visible)
{
    <div class="contenedor-de-dialogo">
        <div class="contenido-de-dialogo">
            <h3>@Mensaje</h3>
            <button class="btn btn-primary" @onclick="Cerrar"> Aceptar </button>
            <button class="btn btn-secondary" @onclick="Cancelar" > Cancelar </button>
        </div>
    </div>
}
@code
{
    private bool visible = false;
    [Parameter]
    public string Mensaje {get;set;}="";
    public void Mostrar()
    {
        visible=true;
        StateHasChanged();
    }
    [Parameter]
    public EventCallback OnConfirmado{get;set;}
    void Cerrar()
    {
        visible=false;
        OnConfirmado.InvokeAsync();
    }
    void Cancelar()
    {
        visible=false;
    }
}